<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758098744328-09nu6f6oh3ammdqbfl3h4tlhujb3h94s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758098744328-09nu6f6oh3ammdqbfl3h4tlhujb3h94s</string>
	<key>API_KEY</key>
	<string>AIzaSyBK4a0RLHGOt1WCbbrhrIGt4ItZtKEzVwk</string>
	<key>GCM_SENDER_ID</key>
	<string>758098744328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rbs2362.Project</string>
	<key>PROJECT_ID</key>
	<string>cs329e-project-fa1e5</string>
	<key>STORAGE_BUCKET</key>
	<string>cs329e-project-fa1e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758098744328:ios:921a2387a04294cd66edbd</string>
</dict>
</plist>